<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 管理系统大布局 - Layui</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <!-- 头部区域 -->
    <div class="layui-header" th:fragment="topnav">
        <div class="layui-logo layui-hide-xs layui-bg-black">博客系统 后台</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->

        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>

            <li class="layui-nav-item layui-hide-xs"><a th:href="@{/index}">首页</a></li>

        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <!-- 头像 -->
                    <img th:src="@{/images/1.jpg}" class="layui-nav-img">
                    <!-- 用户名 -->
                    <span style="color: #ffffff" th:text="'你好,'+${session.loginUser}+'!'"><i
                            class="layui-icon layui-icon-username"></i></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/userMsg/{userId}(userId=${session.userid})}"><i
                            class="layui-icon layui-icon-about"></i>查看个人信息</a></dd>
                    <dd><a th:href="@{/changePwd/{userId}(userId=${session.userid})}"><i
                            class="layui-icon layui-icon-password"></i>修改密码</a></dd>
                    <hr>
                    <dd><a th:href="@{/logout}"><i class="layui-icon layui-icon-logout"></i>退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <!-- 左侧导航区域 定义参数active-->
    <div class="layui-side layui-bg-black" th:fragment="sidenav(active)">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item">
                    <a class="" th:href="@{/dashboard}"><i class="layui-icon layui-icon-console"></i>仪表盘</a>
                </li>
                <!--<li class="layui-nav-item layui-nav-itemed"> 默认展开-->
                <div shiro:hasPermission="user:admin">
                    <li th:class="${active=='user/list.html'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a href="javascript:;"><i class="layui-icon layui-icon-user"></i>用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/users}">用户列表</a></dd>
                            <dd><a th:href="@{/user}">添加用户</a></dd>
                            <dd><a th:href="@{/toAddPhoto}">添加头像</a></dd>
                        </dl>
                    </li>
                </div>
                <li th:class="${active=='blog/list.html'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;"><i class="layui-icon layui-icon-read"></i>博客管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/blogs}">博客列表</a></dd>
                        <dd><a th:href="@{/blog}">发布博客</a></dd>
                    </dl>
                </li>
                <li th:class="${active=='comment/list.html'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;"><i class="layui-icon layui-icon-read"></i>评论管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/comments}">评论列表</a></dd>
                        <dd><a th:href="@{/comments}">评论列表</a></dd>
                    </dl>
                </li>
                <li th:class="${active=='category/list.html'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                    <a href="javascript:;"><i class="layui-icon layui-icon-template-1"></i>分类管理</a>
                    <dl class="layui-nav-child">
                        <div shiro:hasPermission="user:admin">
                            <dd><a th:href="@{/categories}">全部分类列表</a></dd>
                            <dd><a th:href="@{/category}">添加分类</a></dd>
                        </div>
                        <div shiro:hasPermission="user:common">
                            <dd><a th:href="@{/categoriesCommon}">全部分类列表</a></dd>
                            <dd><a th:href="@{/categoryself}">添加分类</a></dd>
                        </div>

                    </dl>
                </li>
                <div shiro:hasPermission="user:admin">
                    <li th:class="${active=='tag/list.html'?'layui-nav-item layui-nav-itemed':'layui-nav-item'}">
                        <a href="javascript:;"><i class="layui-icon layui-icon-tabs"></i>标签管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/tags}">标签列表</a></dd>
                            <dd><a th:href="@{/tag}">添加标签</a></dd>
                        </dl>
                    </li>
                </div>
                <div shiro:hasPermission="user:admin">
                    <hr class="layui-border-green">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;"><i class="layui-icon layui-icon-set"></i>系统管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="http://localhost:8080/swagger-ui/index.html">接口swagger</a></dd>
                            <dd><a href="http://localhost:8080/druid/login.html">sql 监控</a></dd>
                        </dl>
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div class="layui-body">

    </div>


    <!-- 底部固定区域 -->
    <div class="layui-footer" th:fragment="footnav">
        底部固定区域
    </div>

</div>
<!-- 相对路径 基于static 目录-->
<script src="/layui/layui.js"></script>
</body>
</html>