<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>博客页面</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

    <link rel="stylesheet" th:href="@{/editormd/css/editormd.preview.css}"/>

    <style>
        /*设置按钮外边距*/
        .m_10 {
            margin: 10px;
        }
    </style>
</head>
<body>


<div class="layui-container">

    <!-- 顶部导航栏-->
    <ul class="layui-nav" lay-bar="disabled">
        <li class="layui-nav-item">
            <a th:href="@{/index}">首页</a>
        </li>

        <div class="layui-nav-item layui-layout-right">
            <div shiro:lacksPermission="user:admin,user:common">
                <!--身份为游客时 显示下面的标签-->
                <li class="layui-nav-item">
                    <a th:href="@{/toLogin}">登录</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/toRegister}">注册</a>
                </li>
            </div>
        </div>

        <div shiro:hasAnyPermissions="user:admin,user:common">
            <div class="layui-nav-item layui-layout-right">
                <li class="layui-nav-item">
                    <a th:text="'UID '+${session.userid}"></a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">
                        <!-- 头像 -->
                        <img th:src="@{/images/1.jpg}" class="layui-nav-img">
                        <!-- 用户名 -->
                        <span style="color: #ffffff" th:text="'你好,'+${session.loginUser}+'!'"><i
                                class="layui-icon layui-icon-username"></i></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{/userMsg/{userId}(userId=${session.userid})}">查看个人信息</a></dd>
                        <dd><a th:href="@{/blog}">发布博客</a></dd>
                        <dd><a th:href="@{/changePwd/{userId}(userId=${session.userid})}">修改密码</a></dd>
                        <dd><a th:href="@{/dashboard}">博客后台</a></dd>
                        <hr>
                        <dd style="text-align: center;"><a th:href="@{/logout}">退出</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item" lay-header-event="menuRight">
                    <a href="javascript:;">
                        <i class="layui-icon layui-icon-more-vertical"></i>
                    </a>
                </li>
            </div>
        </div>
    </ul>


    <div class="layui-row">

        <!--左侧部分-->
        <div class="layui-col-md2">
            <br>
        </div>

        <div class="layui-col-md7">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 m_10">

                <!--博客标题-->
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>
                        <h1 th:text="${blogMsg.blogTitle}"></h1>
                        <div class="layui-inline"
                             th:text="'发布于 '+${#dates.format(blogMsg.blogAlterTime,'yyyy-MM-dd HH:mm:ss')}"></div>
                        <!--<div class="layui-inline" th:text="'评论数 '+${blogMsg.blogCommentCount}"></div>-->
                        <div class="layui-inline" th:text="'浏览量 '+${blogMsg.blogViews}"></div>
                    </legend>
                </fieldset>

                <!--博客正文-->
                <div id="test-markdown-view">
                    <label>
                        <textarea style="display:none;"></textarea>
                    </label>
                    <!-- 隐藏表单域 使得js 可以获取数据-->
                    <input type="hidden" id="showV1" th:value="${blogMsg.blogContent}">
                </div>
                <hr>


                <!--评论模块-->
                <div shiro:lacksPermission="user:admin,user:common">
                    你还未<a class="layui-font-orange" th:href="@{/toLogin}">登录</a>无法评论
                </div>


                <div shiro:hasAnyPermissions="user:admin,user:common">
                    <div class="layui-form">
                        <form th:action="@{/addComment}" th:method="post">
                            <input type="hidden" name="blogId" th:value="${blogMsg.blogId}">
                            <label>
                                <input type="text" name="commentContent" class="layui-input" lay-verify="required"
                                       placeholder="请发表评论">
                            </label>
                            <button type="submit" class="layui-btn layui-btn-xs">发布</button>
                        </form>
                    </div>


                    <!--新增评论 表单-->
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                        <legend>评论区(10条)</legend>
                    </fieldset>
                    <div class="layui-collapse">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title">展开/收起评论</h2>
                            <!--layui-show 默认展开评论-->
                            <div class="layui-colla-content layui-show">
                                <!--遍历 查询博客id为3的所有评论-->
                                <div th:each="comment,status:${allCommentsByBlogId}">
                                    <!--用户头像-->
                                    <div class="layui-col-sm1">
                                        <img th:src="@{/images/1.jpg}" class="layui-nav-img" alt="">
                                    </div>
                                    <div class="layui-col-sm11">
                                        <!--用户名-->
                                        <div style="font-weight: bold" th:text="${comment.user.userName}"></div>
                                        <!--评论内容-->
                                        <div th:text="${comment.commentContent}"></div>
                                        <!--点赞量-->
                                        <span th:text="'点赞量'+${comment.commentLikeCount}"></span>
                                        <!--逻辑删除按钮-->
                                        <a onclick="return confirm('确定删除吗？')"
                                           class="layui-btn layui-btn-danger layui-btn-xs"
                                           th:href="@{/removeCommentLogic/{commentId}/{blogId}(commentId=${comment.commentId},blogId=${comment.blogId})}">删除</a>
                                        <!--回复按钮-->
                                        <div class="layui-colla-item">
                                            <h2 class="layui-colla-title">回复</h2>
                                            <div class="layui-colla-content">
                                                <div class="layui-form">
                                                    <form th:action="@{/addReplay}" th:method="post">
                                                        <input type="hidden" name="blogId" th:value="${blogMsg.blogId}">
                                                        <input type="hidden" name="parentCommentId"
                                                               th:value="${comment.commentId}">
                                                        <label>
                                                            <input type="text" name="commentContent" class="layui-input"
                                                                   lay-verify="required"
                                                                   th:placeholder="'回复'+${comment.user.userName}">
                                                        </label>
                                                        <button type="submit" class="layui-btn layui-btn-xs">发布回复</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>


                                        <!--回复时间-->
                                        <span th:class="layui-layout-right"
                                              th:text="${#dates.format(comment.commentCreateTime,'yyyy-MM-dd HH:mm:ss')}">
                                        </span>
                                        <!--二级评论-->
                                        <!--判断是否为根节点 二级评论-->
                                        <div th:each="reply:${allRepliesByBlogId}">
                                            <div th:if="${comment.commentId} eq ${reply.parentCommentId}">
                                                <div class="layui-col-sm1">
                                                    <img th:src="@{/images/1.jpg}" class="layui-nav-img">
                                                </div>
                                                <div class="layui-col-sm10">
                                                    <!--用户名 回复信息 -->
                                                    <div style="font-weight: bold"
                                                         th:text="${session.loginUser}+'回复了'+${reply.user.userName}"></div>
                                                    <!--回复内容-->
                                                    <div th:text="${reply.commentContent}"></div>
                                                    <!--点赞量-->
                                                    <span th:text="'点赞量'+${reply.commentLikeCount}"></span>
                                                    <!--逻辑删除按钮-->
                                                    <a onclick="return confirm('确定删除吗？')"
                                                       class="layui-btn layui-btn-danger layui-btn-xs"
                                                       th:href="@{/removeCommentLogic/{commentId}/{blogId}(commentId=${comment.commentId},blogId=${comment.blogId})}">删除</a>
                                                    <!--回复按钮-->
                                                    <div class="layui-colla-item">
                                                        <h2 class="layui-colla-title">回复</h2>
                                                        <div class="layui-colla-content">
                                                            <div class="layui-form">
                                                                <form th:action="@{/addReplay}" th:method="post">
                                                                    <input type="hidden" name="blogId"
                                                                           th:value="${blogMsg.blogId}">
                                                                    <input type="hidden" name="parentCommentId"
                                                                           th:value="${comment.commentId}">
                                                                    <label>
                                                                        <!-- 回复某人 评论对应id-->
                                                                        <input type="text" name="commentContent"
                                                                               class="layui-input" lay-verify="required"
                                                                               th:placeholder="'回复'+${comment.user.userName}">
                                                                    </label>
                                                                    <button type="submit" class="layui-btn layui-btn-xs">发布回复</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--回复日期-->
                                                    <span th:class="layui-layout-right"
                                                          th:text="${#dates.format(reply.commentCreateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>

                                        <hr>

                                    </div>

                                    <hr>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

            </main>
        </div>

        <!--右侧部分-->
        <div class="layui-col-md3">
        </div>

    </div>


    <div class="layui-footer">
        <!-- 底部固定区域 -->
        <div style="text-align: center;">
            <div class="layui-inline">
                <div class="center">底部固定区域</div>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>



<script th:src="@{/editormd/jquery.min.js}"></script>
<script th:src="@{/editormd/editormd.min.js}"></script>
<script th:src="@{/editormd/lib/marked.min.js}"></script>
<script th:src="@{/editormd/lib/prettify.min.js}"></script>
<script type="text/javascript">
    $(function () {
        let data = $("#showV1").val();

        var testView = editormd.markdownToHTML("test-markdown-view", {
            markdown: data,
            htmlDecode: true,  // Enable / disable HTML tag encode.
            htmlDecode: "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
</script>


<script src="/layui/layui.js"></script>
<script>
    layui.use(['form', 'util', 'laydate', 'layer'], function () {
        var form = layui.form,
            util = layui.util
            , $ = layui.$
            , layer = layui.layer;

    });


    //固定块
    util.fixbar({
        bar1: false
        , bar2: false
        , css: {right: 50, bottom: 100}
        , bgcolor: '#393D49'
        , click: function (type) {
            if (type === 'bar1') {
                layer.msg('icon 是可以随便换的')
            } else if (type === 'bar2') {
                layer.msg('两个 bar 都可以设定是否开启')
            }
        }
    });
</script>


<!--<script th:inline="javascript">

    var commentbtn = document.querySelector('.comment');
    var flag = 0;
    commentbtn.onclick = function () {
        if (flag == 0) {
            document.getElementById("comment").style.display = "block";
            flag = 1;
        } else {
            document.getElementById("comment").style.display = "none";
            flag = 0;
        }
    }


</script>-->

</body>
</html>